<h1>Welcome to your fanarona account!</h1>

<div>
  <p>Waiting for player 2...</p>
  <p>Match ID: </p><p id="match_id"><%=@match_id%></p>
  <p>Send the code to your friend for them to join the your room!</p>

  TODO: leave room button
  TODO: sign out button
</div>